a {
    text-decoration: none;
    color: #8e8484;
    cursor: pointer;
  }
.link {
    &--active {
        color: rgb(32, 48, 48);
        font-weight: bold;
    }
}
  body {
    font-family: 'Roboto', sans-serif;
    color: rgb(99, 95, 95);
  }
  li {
    list-style-type: none; 
   }
   ul {
    margin-left: 0; 
    padding-left: 0; 
   }