@import "copyright";
@import "social";

@media (min-width: $mobile) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        background-color: #d4e3e3;
    }

    .link-btn {
        display: block;
        min-height: 30px;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            color: $link-hover;
        }
    }
}

@media (min-width: $tablet) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        background-color: $block-bg;
    }

    .link-btn {
        min-width: 100px;
    }
    
    .link-btn:first-of-type {
        margin-left: auto;
    }
}

@media (min-width: $desktop) {
    .footer {
        padding-left: $margin-header;
        padding-right: $margin-header;
    }
}