@import "main-nav";


@media (min-width: $mobile) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
}


@media (min-width: $tablet) {
    .header {
        justify-content: space-between;
        flex-direction: row;
        width: auto;
        margin-left: $margin-header;
        margin-right: $margin-header;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}