@import "main-nav";
@import "humburger";


@media (min-width: $mobile) {
    .header {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
}


@media (min-width: $tablet) {
    .header {
        box-sizing: border-box;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: $block-bg;
    }
}

@media (min-width: $desktop) {
    .header {
        padding-left: $margin-header;
        padding-right: $margin-header;
    }

    .main-nav {
        flex-wrap: nowrap;
    }
}