@media (min-width: $mobile) {
    .map {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .map iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

@media (min-width: $tablet) {
   .map {
    margin-top: 30px;
    width: 100%;
    box-shadow: $shadow;
   }

   .map iframe {
       height: 100%;;
   }
}