@media (min-width: $mobile) {
    .map {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-bottom: 56.25%;
    }

    .map iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}