@media (min-width: $mobile) {
    .message {
        display: flex;
    }
    .message__name {
        font-size: 20px;
        text-transform: capitalize;
    }
    .message__value {
        text-transform: initial;
        font-size: 15px;
    }
}

@media (min-width: $tablet) {
    .icon--message {
        width: 200px;
        background: url("../img/messages-icon.png");
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position-x: center;
    }
}